@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    max-width: 100%;
}

/*Variables*/
:root {
    --a-color: #1F1B1E;
    --b-color: #7CA982;
    --c-color: #a0a0a0;
    --d-color: #44291E;
    --e-color: #652E1B;
    --f-color: #764830;
    --g-color: #EFBC9B;
    --h-color: #BA5624;
    --i-color: #C4A381;
    --j-color: #CB904D;
    --k-color: #FFA552;
    --l-color: #f2c078;
    --m-color: #A1BA89;
    --n-color: #B4C292;
    --o-color: #FFFFFF;
}

body {
    color: var(--c-color);
    background-image: url(img/b1.png);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
}

header.shadow {
    background: var(--a-color);
    box-shadow: var(--box-shadow);
}

.logo img {
    width: 100px;
}

html {
    font-size: 12px;
    font-family: 'Poppins', Segoe UI, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* Dark mode */
.fa-sun {
    color: var(--k-color);
    font-size: 21px;
    justify-content: center;
    align-items: center;
}

.fa-moon {
    color: var(--c-color);
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Nav */
nav {
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    width: 50%;
    height: 50%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--h-color);
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.75s ease-out;
    margin: 17px;
    backdrop-filter: blur(25px);
    border-radius: 15px;
}

nav a:hover {
    font-size: 1.5rem;
    font-weight: 500;
}

nav .home-link {
    margin-right: auto;
}

nav svg {
    fill: var(--m-color);
    cursor: pointer;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

/* Nav Responsive */
@media (max-width: 1000px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        backdrop-filter: blur(30px);
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--g-color);
        box-shadow: -50px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: 5%;
        width: 100%;
        padding: 0 20px;
        justify-content: flex-start;
        margin: 2px 0;
        color: var(--a-color);
        font-size: 15px;
        font-weight: 400;
    }

    nav a:hover {
        background-color: var(--o-color);
        border-radius: 0%;
        font-size: 17px;
        font-weight: 500;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }
}

/* Icons */
.header-icon {
    font-size: 21px;
    cursor: pointer;
    z-index: 100000;
    display: flex;
    column-gap: 2rem;
}

.header-icon .fa-solid {
    color: var(--c-color);
}

.header-icon .fa-solid:hover {
    color: var(--k-color);
}

.header-icon a {
    display: flex;
}

.header-icon i:hover>.cart-shopping {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0;
    background-color: #FFFFFF;
}

.header-icon i:hover>.nav-car {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
    border-bottom: solid thin #1F1B1E;
}

.nav-car {
    display: none;
}

.cart-shopping button {
    display: none;
}

/* Buscar */
.search-box {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}

.search-box input {
    background: var(--c-color);
    margin-top: -20PX;
    padding: 25px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--a-color);
}

.search-box.active {
    top: 110%;
    box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
    transition: 0.3s all linear;
}

.search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500;
}

.product {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    margin-top: 200px;
}

.product-box {
    position: relative;
    max-width: 100%;
    display: grid;
}

.box {
    width: 650px;
    height: 750px;
}

.box img {
    filter: drop-shadow(1px 1px 3px #fff);
    background-color: #FFFFFF;
    border-radius: 15px;
    max-width: 100%;
}

.info {
    max-width: 100%;

}

.box-area h2 {
    width: 600px;
    height: 100px;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EFBC9B;
    text-shadow: #764830 0 3px;
    font-size: 2.5vw;
    font-weight: 600;
}

.prec {
    width: 300px;
    height: 50px;
    position: absolute;
    display: flex;
    top: 105px;
    right: 150px;
    align-items: center;
    justify-content: center;
    color: #EFBC9B;
    text-shadow: #764830 0 3px;
    font-size: 2vw;
    font-weight: 500;
}


form {
    width: 300px;
    height: 40px;
    position: absolute;
    display: flex;
    top: 180px;
    right: 150px;
    align-items: center;
}

label {
    font-size: 20px;
    margin-left: 45px;
    color: #EFBC9B;
    text-shadow: #764830 0 2px;
    font-weight: 500;
}

input[type="number"] {
    display: flex;
    width: 50px;
    padding: 5px;
    border: 1px solid #C4A381;
    border-radius: 4px;
}


.flechas {
    display: flex;
    align-items: center;
    color: #fff;
    text-shadow: #764830 0 2px;
}

.flecha {
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add {
    width: 400px;
    height: 80px;
    position: absolute;
    top: 240px;
    right: 100px;
    background-color: #FFA552;
    font-size: 1vw;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.now {
    width: 400px;
    height: 80px;
    position: absolute;
    top: 340px;
    right: 100px;
    background-color: #C4A381;
    font-size: 1.5vw;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.desc {
    width: 600px;
    height: 310px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 600;
    color: #EFBC9B;
    font-size: 1.3em;
}

.prod-rel {
    position: relative;
    width: 1320px;
    height: 695px;
}

.relac {
    position: relative;
    width: 1320px;
    height: 100px;
    font-size: 1.2vw;
    color: #EFBC9B;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rel-area {
    display: flex;
    flex-wrap: wrap;
    width: 1320px;
    height: 495px;
    flex-direction: column;
    justify-content: space-between;
}

.prod {
    background-color: #ffffff;
    width: 320px;
    height: 400px;
    border-radius: 15px;
    position: relative;
    font-size: 30px;
    color: #1F1B1E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod img {
    border-radius: 15px;
    max-width: 100%;
}

.nom {
    position: relative;
    width: 320px;
    height: 50px;
    color: #EFBC9B;

    font-size: 15px;
    font-weight: 600;
    display: flex;

    align-items: center;
    justify-content: center;
}

.precio {
    width: 150px;
    height: 30px;
    position: relative;
    left: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: #EFBC9B;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--e-color)
}

/* footer */
.footer {
    color: var(--k-color);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px, auto));
    gap: 1.5rem;
    font-size: 2rem;
}

.footer-box h2 {  
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box p {
    color: var(--i-color);
    margin-bottom: 10px;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social a .fa-brands {
    font-size: 30px;
    color: var(--e-color);
    padding: 10px;
    background: var(--g-color);
    border-radius: 0.2rem;
}

.social a .fa-brands:hover {
    color: var(--a-color);
    transition: 0.5s all;
    text-shadow: 2px 0 2px var(--c-color);
}

.footer-box h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box li a {
    color: var(--i-color);
    text-decoration: none;
}

.footer-box li a:hover {
    color: var(--l-color);
    font-size: 2.1rem;
    transition: 0.7s all linear;
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.contact span {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--i-color);
}

.contact i {
    font-size: 30px;
    margin-right: 1rem;
}

.copyright {
    color: var(--c-color);
    padding: 20px;
    text-align: center;
    background: var(--f-color);
}
